<!-- form for Gensim algorithm -->

<form role="form" id="formGensim" method='POST' action='{{ url_for('articles.text_summ__textrank_gensim') }}'>
    
    <div class="form-group">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <div class="form-group row">
            <h3>Form for Gensim Algo</h3>
        </div>
        <div class="form-group row">
            <label for="article-url-input" class="col-2 col-form-label">URL</label>
            <div class="col-10">
                <input class="form-control" type="url" value="" id="article-url-input" name="articleurl"
                    placeholder="Provide dummy URL">
            </div>
        </div>

        <div class="form-group row shadow-textarea">
            <label for="exampleFormControlTextarea6">Or Enter the text</label>
            <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" name="articletext" rows="3"
                placeholder="Write something here..."></textarea>
        </div>

        <div class="form-group row">
            <label for="example-number-input" class="col-2 col-form-label">Number</label>
            <div class="col-10">
                <input class="form-control" type="number" step=".01" id="example-number-input" name="ratio">
            </div>
        </div>

    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <br>


</form>

<!-- form for Random method -->


<form role="form" class="hidden" id="formRand" method='POST' action='{{ url_for('articles.random_sentence_picker_algo') }}'>
    
    <div class="form-group">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <div class="form-group row">
            <h3>Form for Random Algo</h3>
        </div>

        <div class="form-group row">
            <label for="article-url-input" class="col-2 col-form-label">URL</label>
            <div class="col-10">
                <input class="form-control" type="url" value="" id="article-url-input" name="articleurl"
                    placeholder="Provide dummy URL">
            </div>
        </div>

        <div class="form-group row shadow-textarea">
            <label for="exampleFormControlTextarea6">Or Enter the text</label>
            <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" name="articletext" rows="3"
                placeholder="Write something here..."></textarea>
        </div>

        <div class="form-group row">
            <label for="example-number-input" class="col-2 col-form-label">Choose number of sentences :</label>
            <div class="col-10">
                <input class="form-control" type="number" id="example-number-input" name="ratio">
            </div>
        </div>

    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <br>


</form>


<form role="form" id="formWfreq" method='POST' action='{{ url_for('articles.text_summ__textrank_gensim') }}'>
    
    <div class="form-group">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <div class="form-group row">
            <h3>Form for WordFreq Algo</h3>
        </div>

        <div class="form-group row">
            <label for="article-url-input" class="col-2 col-form-label">URL</label>
            <div class="col-10">
                <input class="form-control" type="url" value="" id="article-url-input" name="articleurl"
                    placeholder="Provide dummy URL">
            </div>
        </div>

        <div class="form-group row shadow-textarea">
            <label for="exampleFormControlTextarea6">Or Enter the text</label>
            <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" name="articletext" rows="3"
                placeholder="Write something here..."></textarea>
        </div>

        <div class="form-group row">
            <label for="example-number-input" class="col-2 col-form-label">Choose number of sentences :</label>
            <div class="col-10">
                <input class="form-control" type="number" step=".01" id="example-number-input" name="ratio">
            </div>
        </div>

    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <br>


</form>


<!-- form for Sumy Lexrank method -->


<form role="form" id="formSumyLexRank" method='POST' action='{{ url_for('articles.sumy_lex_rank_method') }}'>
    
    <div class="form-group">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <div class="form-group row">
            <h3>Form for Sumy LexRank Algoritm</h3>
        </div>

        <div class="form-group row">
            <label for="article-url-input" class="col-2 col-form-label">URL</label>
            <div class="col-10">
                <input class="form-control" type="url" value="" id="article-url-input" name="articleurl"
                    placeholder="Provide dummy URL">
            </div>
        </div>

        <div class="form-group row shadow-textarea">
            <label for="exampleFormControlTextarea6">Or Enter the text</label>
            <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" name="articletext" rows="3"
                placeholder="Write something here..."></textarea>
        </div>

        <div class="form-group row">
            <label for="example-number-input" class="col-2 col-form-label">Choose number of sentences :</label>
            <div class="col-10">
                <input class="form-control" type="number" id="example-number-input" name="final_sentence_count">
            </div>
        </div>

    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <br>


</form>





