{% extends "layout.html" %}

{% block content %}
<div class="add-article">

  <div class="page-header">
    <!-- <h2>NLP - Text Summarization</h2> -->
    <h3> Text Summarization with Gensim ( TextRank )</h3>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-lg-5" show-form">
        <div class="form-group row">
          <h4>Add a New article </h4>
        </div>

        <form role="form" method='POST' action='{{ url_for('articles.text_summ__textrank_gensim') }}'>

          <div class="form-group">

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="form-group row">
              <label for="example-date-input" class="col-2 col-form-label">Date</label>
              <div class="col-10">
                <input class="form-control" type="date" value="2019-10-29" id="example-date-input" name="date">
              </div>
            </div>

            <div class="form-group row">
              <label for="example-number-input" class="col-2 col-form-label">Number</label>
              <div class="col-10">
                <input class="form-control" type="number" step=".01" id="example-number-input" name="ratio">
              </div>
            </div>
            <div class="form-group row">
              <label for="text-input-choice" class="col-2 col-form-label">Type of Input</label>
              <br>
              <input type="radio" name="t_offset" value="yes" checked> It is a URL<br>
              <input type="radio" name="t_offset" value="no"> It is a Text File<br>
            </div>
            <div class="form-group row">
              <label for="article-url-input" class="col-2 col-form-label">URL</label>
              <div class="col-10">
                <input class="form-control" type="url" value="" id="article-url-input" name="articleurl"
                  placeholder="Provide dummy URL">
              </div>
            </div>

            <div class="form-group row shadow-textarea">
              <label for="exampleFormControlTextarea6">Or Enter the text</label>
              <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" name="articletext" rows="3"
                placeholder="Write something here..."></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
          <br>
          

        </form>

        {% for error in errors %}
        <h4>{{ error }}</h4>
        {% endfor %}
      </div>

      <div class="col-lg-5 show-image">

        <h2> KeyWords in Article</h2>
        {{ keywords}}
        <h2> Summary </h2>
        {{ summary }}
        <br>
        <a href="{{ url_for('articles.result', keywords = keywords, summary = summary) }}" class="btn btn-info" role="button">Get the Creative</a>
      </div>

    </div>
  </div>



</div>

{% endblock %}