{% extends "layout.html"%}
{% block content %}

<div class="page-header">
  <h2>Articles</h2>
</div>
<div class="row">
  <div class="col-md-4">
    <table class="table table-striped" id="owned_stock_table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Date</th>
          <th>Created</th>
          <th>url</th>
          <th>article_heading</th>
          <th>article_content</th>
          <th>posted</th>
        </tr>
      </thead>
      <tbody>
        {% for article in articles %}
        <tr>
            <td>{{ article.Id }}</td>
          <td>{{ article.date }}</td>
          <td>{{ article.created }}</td>
          <td>{{ article.url }}</td>
          <td>{{ article.article_heading }}</td>
          <td>{{ article.article_content }}</td>
          <td>{{ article.posted }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
 
{% endblock %}