{% extends "layout.html" %}



{% block content %}

<div class="jumbotron text-center" style="color:blue;background-image: url(); background-size: 100% 100%;">

  <h2> <b>StatsMatter</b> - An AI Magazine for AI related News, created by AI !</h2>
  <p> Artificial Intelligence in NLP - Developed by <b>Vipul Pandey</b></p>

</div>

<h1 style="color:green;text-align:center;">
  Trending AI News Summarizer
</h1>




<div class="container">


  <div class="row">

    <div class="col-md-5" show-form">

      <div class="form-group row">
        <h3>Choose Algorithm for News Graphic</h3>
        <p>You will get the summary that can be edited, according to the algorithm</p>
        <div class="btn-group">
          <button type="button" name="algo" id="opSumy" onclick="insert1()" class="btn btn-default">Sumy
            LexRank</button>
          <button type="button" name="algo" id="opWfreq" onclick="insert2()" class="btn btn-primary">Word -
            Frequency</button>
          <button type="button" name="algo" id="opGensim" form="form1" class="btn btn-default">Gensim -
            TextRank</button>
          <br>
          <button type="button" name="algo" id="opDl" class="btn btn-primary">LSTM - Deep Learning</button>
        </div>
      </div>


      <div class="row">


        <!-- Recieves the error message -->
        {% with messages = get_flashed_messages() %}

          {% if messages %}
            {% for message in messages %}            
              <p><strong>Alert:</strong> {{ message }}
            {% endfor %}
            {% endif %}
          {% endwith %}

      </div>
      <div id="log"></div>


      {% include 'forms.html' %}



    </div>

    <!-- Providing Gap between grids -->
    <div class="col-md-1 show-image">

    </div>

    <div class="col-md-5 show-image">


      <h3> Summary ( You can edit here !)</h3>

      <form role="form" target="_blank" method='POST' action='{{ url_for('articles.result') }}'>

        <div class="form-group">

          <div class="form-group row">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <label for="exampleFormControlTextarea1">Method Used : </label>
            <textarea class="form-control rounded-0" name="summaryText" id="exampleFormControlTextarea1"
              rows="10">{{ summary }}</textarea>

            <h4> KeyWords in Article</h4>
            {{ keywords}}

            <h3>Hashtags for Social Media</h3>
            <textarea class="form-control" name="twitterHashtags" rows="3"
              placeholder="you can add hashtags..."> #Artificialintelligence #AI #Media  </textarea>
          </div>


        </div>
        <br>
        <button type="submit" class="btn btn-info">Get the creative</button>
        <!-- <button type="submit" class="btn btn-info">Get the creative</button> -->
      </form>


    </div>

  </div>


  <!-- Providing Gap between grids -->
  <div class="row top-buffer">

  </div>
  <!-- Progress Bar -->
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
      aria-valuemax="100"></div>
  </div>



</div>



{% endblock %}