<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Text Summarization App">
  <meta name="author" content="Vipul Pandey">
  <title>NLP Text Summarization</title>
  <!-- styles -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#recipes-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('articles.index') }}">NLP Graphic Creator</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="recipes-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{{url_for('articles.generate_video')}}">NLP Video Creator</a></li>
          <li><a href="{{url_for('articles.nlp_word_freq')}}">NLP-WordFreq-ExtSumm</a></li>
          <li><a href="{{url_for('articles.result')}}">Final Contents</a></li>
          <li><a href="{{url_for('articles.get_live_site')}}">Check Live Site</a></li>
          <li><a href="{{ url_for('articles.get_data_db') }}">Check Database</a></li>

        </ul>
        <!-- <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Welcome!</a></li>
          </ul> -->
      </div>
      <!--/.nav-collapse -->
    </div><!-- /.container -->
  </nav>


  <div class="container">
    <div class="content">

      <!-- child template -->
      {% block content %}
      {% endblock %}

    </div>
    <div class="footer">
      <hr>
      <p>@ Vipul Pandey - 2019</p>
    </div>
  </div><!-- /.container -->

  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/script.js') }}">
        </script>
  <!-- <script>
    // ...

    // By default forms are hidden

    $("#formSumyLexRank").hide();
    $("#formWfreq").hide();
    $("#formGensim").hide();
    // $("#formDl").hide();

    $('body').click(function (event) {

      var log = $('#log');

      if ($(event.target).is('#opSumy')) {
        log.html(event.target.id + ' was clicked.');
        $("#formSumyLexRank").show();

        // hide the other forms
        $("#formWfreq").hide();
        $("#formGensim").hide();

      } else if ($(event.target).is('#opWfreq')) {
        log.html(event.target.id + ' was clicked.');
        $("#formWfreq").show();

        // hide the other forms
        $("#formSumyLexRank").hide();
        $("#formGensim").hide();

      } else if ($(event.target).is('#opGensim')) {
        log.html(event.target.id + ' was clicked.');
        $("#formGensim").show();
        // hide the other forms
        $("#formSumyLexRank").hide();
        $("#formWfreq").hide();

      } else if ($(event.target).is('#opDl')) {
        log.html(event.target.id + ' was clicked.');
      } else {
        log.html('');
      }
    });
  </script> -->


</body>

</html>