{% extends "layout.html" %}

{% block content %}
<div class="add-article">

  <div class="page-header">
    <!-- <h2>NLP - Text Summarization</h2> -->
    <br>
    <h3> Word - Freq Algorithm ( using signal in the sentences !! )</h3>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-lg-5" show-form">
        <h4>Add a New article </h4>
        <form role="form" method='POST' action='{{ url_for('articles.nlp_word_freq') }}'>

          <div class="form-group">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="number" name="final_sentence_count" class="form-control" id="num-box"
              placeholder="Final sentence count..." style="max-width: 300px;" autofocus required>
            <input type="text" name="article_content" class="form-control" id="content-box"
              placeholder="Enter the content..." style="max-width: 500px;" autofocus required>
            <!-- <br>
            <label for="entertwitterstatus">Enter the text !!</label>
            <textarea class="form-control" id="textinput" name="article_content" rows="3" placeholder="you can add hashtags...">  </textarea> -->
            <h5>Show summary</h5>
            <input type="radio" name="twitter_offset" value="yes" checked> Yes<br>            
            <input type="radio" name="twitter_offset" value="no"> No<br>
            <!-- <a href=”/your_flask_funtion”><input type=”button” value=”call_flask_funtion”></a> -->
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
          
        </form>        

        {% for error in errors %}
        <h4>{{ error }}</h4>
        {% endfor %}
      </div>

      <div class="col-lg-5 show-image">
          <img class="img-responsive rounded head-img" src="{{ path_to_img_to_upload }}" alt="Image Failed to Load">

          <form role="form" method='POST' action='{{ url_for('articles.post_creative_to_social_media') }}'>
            <div class="hover-buttons">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <br>
              
              <label for="entertwitterstatus">Enter Twitter status</label>
              <textarea class="form-control" name="twitterstats" rows="3" placeholder="you can add hashtags..."> #artificialintelligence #aitraining #nlp  </textarea>
              <br>
              <button type="submit" name = "post_sm" class="btn btn-danger btn-sm" value="yes_twitter">Post to twitter </button>
              <button type="submit" name = "post_sm" class="btn btn-danger btn-sm" value="yes_insta">Post to instagram</button>
              
            </div>            
          </form>
        </div>
      
    </div>
  </div>



</div>

{% endblock %}