{% extends "layout.html" %}

{% block content %}

<div class="row">
  <div class="col-md-8 show-image">


    <h3 class="display-4">Final Creative Before Posting</h3>
    <img class="img-responsive rounded head-img" width=100%
      src="{{url_for('static',filename = 'images/output/image_output.png')}}" alt="Image Failed to Load">

  </div>

  <div class="col-md-4 show-hashtag">
    <h3>{{ keywords }}</h3>
    <form role="form" method='POST' action='{{ url_for('articles.post_creative_to_social_media') }}'>
      <div class="hover-buttons">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <br>

        <label for="entertwitterstatus">Enter Twitter status</label>
        <textarea class="form-control" name="twitterstats" rows="3"
          placeholder="you can add hashtags..."> #Artificialintelligence #AI #Media  </textarea>
        <br>
        <button type="submit" name="post_sm" class="btn btn-danger btn-sm" value="yes_twitter">Post to twitter
        </button>
        <button type="submit" name="post_sm" class="btn btn-danger btn-sm" value="yes_insta">Post to
          instagram</button>
      </div>
    </form>
  </div>

</div>

{% endblock %}