{% extends "layout.html" %}



{% block content %}

<div class="jumbotron text-center" style="color:blue;background-image: url(); background-size: 100% 100%;">

  <h2> <b>StatsMatter</b> - An AI Magazine for AI related News, created by AI !</h2>
  <p> Artificial Intelligence in NLP - Developed by <b>Vipul Pandey</b></p>

</div>

<h1 style="color:green;text-align:center;">
  Trending AI News Video Creator
</h1>



<div class="page-header header container-fluid">

  <div class="row">

    <div class="col-md-5" show-form">

      <!-- form for entering the video content -->


      <form role="form" id="formVideo" method='POST' name="videoForm" action='{{ url_for('articles.generate_video') }}'>

        <div class="form-group">

          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

          <div class="form-group row">
            <h3>Form for Video Generation</h3>
          </div>

          <div class="form-group row shadow-textarea">
            <label for="videoCreationTextForm">Headline</label>
            <textarea class="form-control z-depth-1" id="exampleFormControlTextarea7" name="video_title" rows="2"
              placeholder="Write something here..."></textarea>
          </div>

          <div class="form-group row shadow-textarea">
            <label for="videoContenTextForm">Content</label>
            <textarea class="form-control z-depth-1" id="exampleFormControlTextarea8" name="video_description" rows="4"
              placeholder="Write something here..."></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <br>

      </form>

      <!-- <div class="form-group row">
        <h2>Enter Text content & Images content for videos</h2>
        <input type="submit" name="submit_button" value="Get the text" disabled>
        <input type="submit" name="submit_button" value="Upload the Images" disabled>
        <input type="submit" name="submit_button" value="Get the video">
      </div> -->



    </div>
    <!-- Providing Gap between grids -->
    <div class="col-md-1 show-image">

    </div>

    <div class="col-md-6 show-image">
      <form role="form" id="formAddContents" method='POST' name="addContentsForm" action='{{ url_for('articles.generate_video_from_contents') }}'>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="input_fields_wrap">
          <button class="btn btn-default add_field_button">Add More Articles</button>
          <!-- <div><input type="text" name="mytext[]"></div> -->
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>




  </div>

  <!-- Providing Gap between grids -->
  <div class="row top-buffer">

  </div>

  <h1 style="color:green;text-align:center;">
    This is how text will be visible on Video frames !
  </h1>

  <div class="row">

    <div class="row">
    
    </div>
    <div class="row">
      <h1>Hi There!!!</h1>
        <p>Welcome to The Gallery</p>
        <p><a href="{{ url_for('articles.upload') }}" class="login">Login</a> to upload images or head over to the <a href="{{ url_for('articles.gallery') }}">gallery</a></p>
    </div>

  </div>
  <!-- Progress Bar -->
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
      aria-valuemax="100"></div>
  </div>

</div>

{% endblock %}