<!DOCTYPE html>
<html lang="en">

<head>
    <title>StatsMatter - AI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="jumbotron text-center" style="background-color:rgba(35, 168, 245, 0.432);">

        <h1> <b>StatsMatter</b> - <small class="text-muted"> AI Magazine for AI related News, curated by AI !</small>
        </h1>
        <h2> <small class="text-muted"> Artificial Intelligence Project - Powered by</small> Darp-n</h2>
        <!-- https://www.linkedin.com/in/vipul-pandey-9122b960/  <a href=""  target="_blank">Vipul</a> -->
        <p> <small class="text-muted">Darp-n is an <b>AI Bot</b> in training that helps in</small> NLP & Computer
            Vision. </p>
        <p> <small class="text-muted">At StatsMatter it helps in content curation & content generation like videos,
                graphics etc. </small></p>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-md-8" style="height: 516px; background-color:rgba(35, 168, 245, 0.432);">

                <h2>Today's Trending AI News - Youtube</h2>

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="640" height="360"
                        src="https://www.youtube.com/embed/videoseries?list=PLyFRE1JOKsCdleYdhmQArodHsFsuXKW-L"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>


            </div>

            <div class="col-md-4" style="background-color:rgba(35, 168, 245, 0.432);">
                <h2> Twitter Feeds</h2>
                <!-- Adding twitter feeds -->

                <a class="twitter-timeline" data-height="449" data-link-color="#2B7BB9"
                    href="https://twitter.com/statsmattersm?ref_src=twsrc%5Etfw">Tweets by statsmattersm</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

            </div>

        </div>

        <div class="row">
            <div class="col-md-7" style="height: 516px;">
                <h2>Graphic Section</h2>

                <img id="post-creative" class="img-responsive rounded head-img" width=100% "
                    src=" {{url_for('static',filename = 'images/output/image_output.png')}}"
                    alt="Image Failed to Load">
            </div>

            <div class="col-md-5" style="height: 516px;">
                <h2>Generated AI Art</h2>
                <img class="img-responsive rounded head-img" width=100%"
                    src="{{url_for('static', filename = 'trippy_image.jpg')}}" alt="Image Failed to Load">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <h2>AI thought of the day</h2>
                <blockquote>What all of us have to do is to make sure we are using AI in a way that is for the benefit
                    of humanity, not to the detriment of humanity.
                </blockquote>
                <p>Satya Nadella</p>
            </div>
            <div class="col-sm-4">
                <h2>Image of the day</h2>
                <img class="img-responsive rounded head-img" width=100%
                    src="{{url_for('static', filename = 'ai_test.jpg')}}" alt="Image Failed to Load">

            </div>
            <div class="col-sm-4">
                <h2>Latest in Media</h2>

                <img class="img-responsive rounded head-img" width=70%
                    src="{{url_for('static', filename = 'work-in-progress.jpg')}}">
            </div>
        </div>
    </div>
</body>

</html>