{% extends "layout.html" %}



{% block content %}

<div class="container">
    <div class="row">
        <form action="{{ url_for('articles.upload') }}" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <label for="images">File input</label>
            <input type="file" id="images" name="images" accept="image/*" multiple>
            <p class="help-block">Select Images to Upload.</p>
            <input type="submit" value="Upload" class="btn btn-success">
          </div>
        </form>
    </div>
</div>
{% endblock %}
© 2020 Gully News, Inc.